<div class="navbar-header">
    <button type="button" class="btn-block btn-drop navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <strong>MENU</strong>
    </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="index.html">
                <div class="text-center">
                    <i class="fa fa-dashboard fa-3x"></i><br>
                    Dashboard
                </div>
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-laptop fa-3x"></i><br>
                    UI Element <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="button.html"><i class="fa fa-lemon-o"></i> Button</a></li>
                <li><a href="icon.html"><i class="fa fa-puzzle-piece"></i> Icon</a></li>
                <li><a href="panel-well.html"><i class="fa fa-file"></i> Panel & Well</a></li>
                <li class="divider"></li>
                <li><a href="grid.html"><i class="fa fa-th"></i> Grid</a></li>
                <li><a href="breadcrumb-pagination.html"><i class="fa fa-send"></i> Breadcrumb & Pagination</a></li>
                <li><a href="jumbotron-thumbnail.html"><i class="fa fa-flag"></i> Jumbotron & Thumbnail</a></li>
                <li class="divider"></li>
                <li><a href="collapse.html"><i class="fa fa-archive"></i> Collapse</a></li>
                <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                <li><a href="alert-progress-bar.html"><i class="fa fa-coffee"></i> Alert & Progress Bar</a></li>
                <li class="divider"></li>
                <li><a href="list-media.html"><i class="fa fa-paw"></i> List Media</a></li>
                <li><a href="slider.html"><i class="fa fa-legal"></i> Slider</a></li>
                <li><a href="popup-notip.html"><i class="fa fa-bullhorn"></i>Popup & Notifications</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-list fa-3x"></i><br>
                    Form Element <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="form-component.html"><i class="fa fa-list-alt"></i> Form Component</a></li>
                <li><a href="advanced-component.html"><i class="fa fa-list-ul"></i> Advanced Component</a></li>
                <li><a href="form-wizard.html"><i class="fa fa-columns"></i> Form Wizard</a></li>
                <li class="divider"></li>
                <li><a href="form-validation.html"><i class="fa fa-check-square"></i> Form-Validation</a></li>
                <li><a href="dropzone-file-upload.html"><i class="fa fa-send"></i> Dropzone File Upload</a></li>
                <li><a href="multiple-file-upload.html"><i class="fa fa-file-o"></i> Multiple File Upload</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-folder-open fa-3x"></i><br>
                    Data Tables <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="basic-table.html"><i class="fa fa-table"></i> Basic Table</a></li>
                <li><a href="responsive-table.html"><i class="fa fa-table"></i> Responsive Table</a></li>
                <li><a href="dynamic-table.html"><i class="fa fa-table"></i> Dynamic Table</a></li>
                <li><a href="editable-table.html"><i class="fa fa-table"></i> Editable Table</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-bar-chart-o fa-3x"></i><br>
                    charts <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="moris.html"><i class="fa fa-bar-chart-o"></i> Moris</a></li>
                <li><a href="chartjs.html"><i class="fa fa-bar-chart-o"></i> Chartjs</a></li>
                <li><a href="xcharts.html"><i class="fa fa-bar-chart-o"></i> xCharts</a></li>
            </ul>
        </li>
        <li>
            <a href="google-maps.html">
                <div class="text-center">
                    <i class="fa fa-location-arrow fa-3x"></i><br>
                    Google Maps
                </div>
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-home fa-3x"></i><br>
                    Real Estates <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="property.html"><i class="fa fa-institution"></i> Property List</a></li>
                <li><a href="property-column.html"><i class="fa fa-th-large"></i> Property Column</a></li>
                <li><a href="property-detail.html"><i class="fa fa-th-list"></i> Property Detail</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-shopping-cart fa-3x"></i><br>
                    Stores <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="store.html"><i class="fa fa-gift"></i> Store List</a></li>
                <li><a href="store-detail.html"><i class="fa fa-gift"></i> Store Detail</a></li>
                <li><a href="shopping-cart.html"><i class="fa fa-gift"></i> Shopping Cart</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="text-center">
                    <i class="fa fa-plus-square fa-3x"></i><br>
                    Extras Pages <span class="caret"></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="login.html"><i class="fa fa-unlock-alt"></i> Login</a></li>
                <li><a href="page-blank.html"><i class="fa fa-square-o"></i> Blank Page</a></li>
                <li class="divider"></li>
                <li><a href="invoice.html"><i class="fa fa-thumbs-o-up"></i> Invoice</a></li>
                <li><a href="princing-table.html"><i class="fa fa-gavel"></i> Princing Table</a></li>
                <li><a href="faq.html"><i class="fa fa-sun-o"></i> FAQ</a></li>
                <li class="divider"></li>
                <li><a href="register.html"><i class="fa fa-plus"></i> Register</a></li>
                <li><a href="404.html"><i class="fa fa-warning"></i> 404 Error</a></li>
                <li><a href="500.html"><i class="fa fa-warning"></i> 500 Error</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->